/*    --------------------------------------------------
  :: Main CSS
  :: Add Everything Here!
  -------------------------------------------------- */


/*    --------------------------------------------------
  :: Inputs & Buttons
  -------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
  background-color: #1fa67b;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
    background-color: #20B082;
}

/*    --------------------------------------------------
  :: Errors
  -------------------------------------------------- */

.error {
 color: red;
}
